@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h1>ADD NEW FLAVOR FOR<br>@Html.DisplayFor(model => model.Name)</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  <br>
  @Html.Label("Select flavor")
  @Html.DropDownList("FlavorId")
  <br>
  <input type="submit" class="btn-block" value="ADD THIS FLAVOR!" />
}

@Html.ActionLink("DESIRED FLAVOR ISN'T LISTED ABOVE", "Create", "Flavors", null, new { @class="btn-block" })