@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h1>@Html.DisplayFor(model => model.Name)</h1>
<hr />
@if(@Model.Flavors.Count == 0)
{
  <h4>no flavors found for this treat</h4>
}
else
{
  <h4>FLAVORS:</h4>
  @foreach(var join in Model.Flavors)
  {
    <div class="row justify-content-start">
      <p class="col-md-6">@Html.ActionLink($"{join.Flavor.Name}", "Details", "Flavors", new { id = join.FlavorId })</p>
      @using (Html.BeginForm("DeleteFlavor", "Treats", new { @class="col-md-6"}))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        <input type="submit" value="remove flavor"/>
      }
    </div>
  }
}

<div class="three-buttons">
  @Html.ActionLink("EDIT TREAT", "Edit", new { id = Model.TreatId }, new { @class="btn" })
  @Html.ActionLink("ADD FLAVOR", "AddFlavor", new { id = Model.TreatId }, new { @class="btn" })
  @Html.ActionLink("DELETE TREAT", "Delete", new { id = Model.TreatId }, new { @class="btn" })
</div>