@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h1>EDIT DETAILS FOR<br>@Html.DisplayFor(model => model.Name)</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <br>
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <br>
  @Html.Label("Select flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" class="btn-block" value="SAVE CHANGES" />
}